<div class="jumbotron">
  <div class="container">
    <h2 class="center">Welcome to the Epicodus Help Queue</h2>
    <div class="row login-area">
        <div class="col-sm-6 col-md-6 col-lg-6 left center">
            <h3>Continue as Student</h3>
            {{#link-to 'student'}}<button class="btn btn-lg btn-default submitBtn">Continue</button>{{/link-to}}
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 center">
            {{#if session.isAuthenticated}}
                <p>already logged in</p>
            {{else}}
                <h3>Teacher Sign-in</h3>
                {{login-form login="login"}}
                <p>Not registered? Add a new teacher here.</p>
            {{/if}}
        </div>
    </div>
  </div>
</div>
