<div class="jumbotron">
  <div class="container">
    <h3>Select Your Class</h3>
    {{#link-to 'course' 0}}<button class="btn btn-lg btn-default submitBtn">Java/JavaScript/Android</button>{{/link-to}}
    {{#link-to 'course' 1}}<button class="btn btn-lg btn-default submitBtn">PHP/JavaScript/Drupal</button>{{/link-to}}
    {{#link-to 'course' 2}}<button class="btn btn-lg btn-default submitBtn">Ruby/JavaScript/Rails</button>{{/link-to}}
  </div>
</div>
